*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #0f0f0f;
}
a{
    color: white;
    text-decoration: none;
}
.navbar {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 0.5s;
    background: black;
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.navbar .logo{
    font-size: 25px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin: 35px;
}
.navbar ul li a{
    font-size: 15px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: #0ff;;
}
.map{
   padding-left: 100px;
}
.map iframe{
    width: 1400px;
    height: 450px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact {
    padding: 150px;
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in-up 1.5s ease-out forwards;
    animation-delay: 1s;
}
@keyframes fade-in-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.contact h2{
    color: transparent;
    -webkit-text-stroke: 0.7px #0ff;
    margin-bottom: 5rem;
    text-align: center;
    text-align: center;
    font-size: 3rem; 
    font-weight: 800; 
}
.highlight {
    color: #0ff;
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    background: #0f0f0f;
    border-radius: 2rem;
    border: 2px solid #0ff;
    margin: 1rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1s;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #0ff;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: #0ff;
    color: black;
    box-shadow: 0 0 25px #0ff;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 30px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid #0ff;
}
.footer ul li{
    display: inline-block;
    padding: 0 10px;
}
.footer .copyright{
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: white;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #0ff;
    border: 2px solid #0ff;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ff;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.btn:hover{
    background: transparent;
    color: #0ff;
    box-shadow: none;
}
.sci{
    margin-left: 20px;
}
.sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #0ff;
    border-radius: 50%;
    font-size: 20px;
    color: #0ff;
    margin: 0 8px;
    transition: 0.5s;
}
.sci a:hover{
    background: #0ff;
    color: black;
    box-shadow: 0 0 10px;
}
